html,body {
    margin: 0;
    padding: 0;
    background-color: #28253a;
}

._title {
    padding-bottom: 30%;    
}

h1 {
    padding-right: 20%;
    /* padding-bottom: 30%; */
}

p,h2,h6 {
    color: white;
}

#g-graphic {
    position: fixed;
    left: 0;
    height: 100%;
    width: 100%;
    top: 0;
    z-index: 0;
    /* z-index: 99; */
}

 .g-labels {
     text-shadow: 0 0 2px rgba(0, 0, 0, 0.8);
 }

 .g-labels .g-label {
     position: fixed;
     display: none;
     font: 500 14px/1.4em "Microsoft JhengHei";
     color: yellow;
 }

.hidden {
    display: none;
}

canvas {
    width: 100%;
    height: 100%;
    touch-action: none;
}

.article {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    /* z-index: 0; */
    width: 100%;
}

section {
    width: 100%;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

section.blankPage {
    height: 100vh;
}

section.blankHalfPage {
    height: 50vh;
}

section:nth-child(2){
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

section:nth-child(2) .share-block{
    margin: 0 auto;
}

section.masked {
    background-color:rgba(0, 0, 0, 0.7);
}

section:last-child {
    z-index: 2;
    background-color: #28253a;
}

div.narrow-in-pc{
    width: 40%;
    margin-left:0;
}

@media screen and (max-width: 1199px){
    div.narrow-in-pc {
        width: 100%;
        margin: 0 auto;
    }    
}

img.fullscreen {
    width: 100%;
}

.profile {
    display: flex;
    align-items: center;
    padding: 25px 0;
}

.profile img {
    width: 25%;
}

.subtitle {
    margin-left: 20px;
}

.subtitle h2 {
    margin: 25px 0;
}

.share-block {
    height: auto;
}

#editor {
    color: white;
}

.quote-contain {
    font-family: "Microsoft JhengHei";
    border-top: none;
    border-bottom: none;
    color : #fff1c6;
}

.theme-default .nivo-directionNav a{
    width: 120px;
    height: 120px;
    opacity: 1;
}

.theme-default a.nivo-nextNav {
    background: url(../assets/images/right.png) no-repeat;
}

.theme-default a.nivo-prevNav {
    background: url(../assets/images/left.png) no-repeat;
}